name: CI Pipeline

on:
  push:
    branches-ignore:
      - "pages"

jobs:
  # Approach:
  # - Build a Docker image based on contents (=hash) of `./docker` and `./pyproject.toml`
  # - Cleanup script periodically deletes aged tags, forcing semi-frequent rebuilds.
  # - If the image already exists (= no modifications of the relevant files), build can be skipped.
  prepare:
    if: github.server_url != 'https://github.com'
    name: Define what docker images should be built
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.final.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: Set an image tag (use only 8 first symbols)
        run: |
          test $(git hash-object .dockerignore) = 33dafa6305deba799c6f414184eb723f07ef8c1d # Reminder: If .dockerignore is changed, the files included in the image tag computation in the next line must be updated, too.
          echo "IMAGE_TAG=$(git ls-tree HEAD docker pyproject.toml | git hash-object --stdin | head -c 8)" >> $GITHUB_ENV
      - env:
          VER_PYTHON: "3.10"
          VER_TORCH: "2.3"
          VER_CUDA: "12.1"
        run: |
          MATRIX=$(echo "${MATRIX:-[]}" | jq -c '. += [{
              VER_PYTHON:"${{ env.VER_PYTHON }}",
              VER_TORCH:"${{ env.VER_TORCH }}",
              VER_CUDA:"${{ env.VER_CUDA }}",
              IMAGE_NAME:"${{ vars.DOCKER_REGISTRY }}/${{ vars.DOCKER_IMAGE }}-py${{ env.VER_PYTHON}}-pt${{env.VER_TORCH}}-cu${{ env.VER_CUDA }}",
              IMAGE_TAG:"${{ env.IMAGE_TAG }}"
            }]')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV
      - name: (Last step) Generate docker image names
        id: final
        run: |
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT
          echo "$MATRIX" > matrix.json
      - name: Save matrix for follow up workflows
        uses: actions/upload-artifact@v3
        with:
          name: matrix
          path: matrix.json

  docker:
    if: github.server_url != 'https://github.com'
    name: Build docker images
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      matrix:
        include:
          - ${{ fromJSON(needs.prepare.outputs.matrix) }}
    steps:
      - run: sudo cp /tmp/certs/* /usr/local/share/ca-certificates/
      - run: sudo update-ca-certificates
      - run: |
          echo IMAGE_TAG="${{ matrix.IMAGE_TAG }}" >> $GITHUB_ENV
          echo IMAGE_NAME="${{ matrix.IMAGE_NAME }}" >> $GITHUB_ENV
      - name: Check if image was already built before
        run: |
          IMAGE_REF=$(python3 -c "netloc, path = '${IMAGE_NAME}'.split('/',1); print(f'https://{netloc}/v2/{path}/manifests/${IMAGE_TAG}')")
          echo "Checking if ${IMAGE_REF} was already built."
          if curl --fail --silent --location --head --header "Authorization: Bearer ${{ secrets.DOCKER_CREDENTIALS }}" --header "Accept: application/vnd.docker.distribution.manifest.v2+json" "${IMAGE_REF}" ; then
            echo "Image ref was already built, skipping build."
            echo SKIP_BUILD=1 >> $GITHUB_ENV
          else
            echo "Image ref not yet available, proceeding to build."
          fi
      - if: ${{ !env.SKIP_BUILD }}
        run: sudo apt update -qq && sudo apt install -y make
      - if: ${{ !env.SKIP_BUILD }}
        uses: actions/checkout@v4
      - if: ${{ !env.SKIP_BUILD }}
        run: |
          make build
          echo '${{ secrets.DOCKER_CREDENTIALS }}' | docker login --username '${{ secrets.DOCKER_LOGIN }}' --password-stdin '${{ vars.DOCKER_REGISTRY }}'
          make push

  wheels:
    if: github.server_url != 'https://github.com'
    name: Build wheels
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
      - uses: actions/checkout@v4
      - run: |
          python3 -m pip install build
          python3 -m build --verbose --wheel --outdir=wheelhouse/
      - uses: actions/upload-artifact@v3
        with:
          name: "fastforward"
          path: "wheelhouse/*.whl"
          if-no-files-found: error
          retention-days: 1d

  pytest:
    if: github.server_url != 'https://github.com'
    name: tests
    runs-on: k8s-gpu
    needs: [wheels]
    container:
      image: python:${{ matrix.VER_PYTHON }}
    strategy:
      fail-fast: false
      matrix:
        VER_PYTHON:
          - "3.10"
          - "3.12"
        VER_TORCH:
          - "2.4"
          - "2.5"
          - "2.6"
    steps:
      - name: check if tests can be skipped
        run: echo "RUN_TESTS=${{ github.ref_name == github.event.repository.default_branch || matrix.VER_PYTHON == '3.10' }}" >> $GITHUB_ENV
      - if: env.RUN_TESTS == 'true'
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            tests
            pyproject.toml
      - if: env.RUN_TESTS == 'true'
        uses: actions/download-artifact@v3
        with:
          name: "fastforward"
          path: "wheelhouse"
      - if: env.RUN_TESTS == 'true'
        run: |
          python3 -m pip install torch==${{ matrix.VER_TORCH }} --extra-index-url https://download.pytorch.org/whl/cu124
      - if: env.RUN_TESTS == 'true'
        run: python3 -m pip install "$(find wheelhouse -name '*.whl')[test]"
      - if: env.RUN_TESTS == 'true'
        run: python3 -m pytest --include-slow
      - name: check slow tests are marked as such
        if: env.RUN_TESTS == 'true'
        run: |
          python3 -m pytest `# run non-slow test once to warm up caches`
          python3 -m pytest --timeout=0.2

  verify:
    if: github.server_url != 'https://github.com'
    name: "${{ matrix.JOB.NAME }}"
    runs-on: ubuntu-latest
    needs:
      - prepare
      - docker
    container:
      image: "${{ matrix.IMAGE_NAME }}:${{ matrix.IMAGE_TAG }}"
      credentials:
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_CREDENTIALS }}
    strategy:
      matrix:
        JOB:
          - NAME: mypy
          - NAME: shell-check
          - NAME: format
            ARGS: --check
          - NAME: lint
          - NAME: markers-check
        include:
          - ${{ fromJSON(needs.prepare.outputs.matrix)[0] }}

    steps:
      - uses: actions/checkout@v4
      - name: "verify --${{ matrix.JOB.NAME }} -- ${{ matrix.JOB.ARGS }}"
        run: |
          . /etc/profile.d/conda.sh
          ./scripts/verify --${{ matrix.JOB.NAME }} -- ${{ matrix.JOB.ARGS }}
