name: Clean up

on:
  schedule:
    - cron: "45 2 * * SUN"

jobs:
  cleanup:
    if: github.server_url != 'https://github.com'
    runs-on: ubuntu-latest
    steps:
      - run: cp /tmp/certs/* /usr/local/share/ca-certificates/
      - run: update-ca-certificates
      - run: python3 -m pip install requests
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts/docker_cleanup.py
          sparse-checkout-cone-mode: false
      - name: Delete outdated Docker tags of the provided image name
        env:
          REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
        run: |
          DOCKER_CREDENTIALS="${{ secrets.DOCKER_CREDENTIALS }}" python3 scripts/docker_cleanup.py
