name: Clean up

on:
  schedule:
    - cron: "45 2 * * SUN"

jobs:
  cleanup:
    if: github.server_url != 'https://github.com'
    runs-on: ubuntu-latest
    steps:
      - run: sudo cp /tmp/certs/* /usr/local/share/ca-certificates/ && sudo update-ca-certificates
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts/docker_cleanup.py
          sparse-checkout-cone-mode: false
      - name: Delete outdated Docker tags of all of FastForward's images
        env:
          DOCKER_LOGIN: "${{ secrets.DOCKER_LOGIN }}" 
          DOCKER_CREDENTIALS: "${{ secrets.DOCKER_CREDENTIALS }}"
          DOCKER_IMAGE: "${{ vars.DOCKER_IMAGE }}"
          DOCKER_REGISTRY: "${{ vars.DOCKER_REGISTRY }}"
          SSL_CERT_FILE: "/etc/ssl/certs/ca-certificates.crt"
        run: |
           python3 scripts/docker_cleanup.py
      - name: Retrigger a build based on the code of the current default branch
        run: |
          curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            ${{ github.api_url }}/repos/${{ github.repository }}/dispatches \
            -d '{"event_type":"rebuild-images","client_payload":{"triggered_by":"cleanup"}}' \
            && echo "Successfully triggered CI pipeline rebuild"
