name: Clean up

on:
  schedule:
    - cron: "45 2 * * *"

jobs:
  cleanup:
    if: github.server_url != 'https://github.com'
    runs-on: ubuntu-latest
    steps:
      - run: sudo cp /tmp/certs/* /usr/local/share/ca-certificates/ && sudo update-ca-certificates
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts/docker_cleanup.py
          sparse-checkout-cone-mode: false
      - name: Delete outdated Docker tags of all of FastForward's images
        env:
          DOCKER_LOGIN: "${{ secrets.DOCKER_LOGIN }}" 
          DOCKER_CREDENTIALS: "${{ secrets.DOCKER_CREDENTIALS }}"
          DOCKER_IMAGE: "${{ vars.DOCKER_IMAGE }}"
          DOCKER_REGISTRY: "${{ vars.DOCKER_REGISTRY }}"
          SSL_CERT_FILE: "/etc/ssl/certs/ca-certificates.crt"
        run: |
           python3 scripts/docker_cleanup.py
      - name: Retrigger a build based on the code of the current default branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b "cleanup-trigger"
          git commit -m "This branch is based off the default branch and only serves to trigger image rebuilds". --allow-empty
          git push --force --set-upstream origin HEAD
